<% provide :title, t("static_pages.home.title") %>
<h1><%= t "static_pages.home.header" %></h1>
<p class="home_jumbotron">
  <%= link_to t("static_pages.home.btn_signup"), "#", class: "btn btn-primary btn-lg" %>
</p>
